/* ========================================================================================
                                        IMPORTS
======================================================================================== */

@import "default.css";

@import "header.css";

/* ========================================================================================
                                        MAIN
======================================================================================== */

main {
    margin: auto;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 3%; */
}

/* ========================================================================================
                                        CAJA 1
======================================================================================== */

.box {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxTitle1 {
    text-align: center;
    margin-bottom: 30%;
    animation: leftBoxTitle1 ease 3s;
}

@keyframes leftBoxTitle1 {
    0% {
        transform: translateX(-600px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.subtitle1 {
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: 10px;
    color: rgba(255, 255, 255, 0.596);
}

.title1 {
    font-size: 4rem;
    letter-spacing: 5px;
    color: rgba(255, 255, 255);
    margin-top: 10px;
    font-weight: 300;
}

.imgBox1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    animation: opacityImgBox1 ease 5s;
}

@keyframes opacityImgBox1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.imgCreator {
    width: 100%;
}

.creatorName {
    width: 100%;
    color: #fff;
    font-style: oblique;
    font-size: 1.2rem;
}

/* ========================================================================================
                                        CAJA 2
======================================================================================== */

.box2::before {
    content: '';
    background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.39)), url('/img/cabin/ian-keefe-OgcJIKRnRC8-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    height: 140vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 60%;
}

.box2 {
    width: 70%;
    margin-bottom: 7%;
}

.boxNumberTitle2 {
    text-align: center;
    /* ACA ESTA LA SOLUCION AL PROBLEMA POR EL POSITION:ABSOLUTE DE boxBackground2  */
    margin-top: 3%;
}

.number {
    color: #efb810;
    font-size: 5rem;
    font-weight: 700;
}

.sub {
    color: #fff;
    font-weight: 500;
    font-size: 3rem;
}

.fa-chevron-circle-down {
    color: #fff;
    font-size: 3rem;
    margin: 5% 0 15% 0;
}

.fa-chevron-circle-down:hover {
    color: #efb810;
}

.paragraphBox2 {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.paragraph2 {
    color: rgb(80, 56, 11);
    font-size: 2rem;
    line-height: 3rem;
    width: 50%;
    font-weight: 300;
}

.choose {
    line-height: 40px;
}


/* ========================================================================================
                                        CAJA 3
======================================================================================== */

.box3::before {
    content: '';
    background-image: linear-gradient(to bottom, #1ec43a69, #21b90632), url('/img/cabin/olivier-guillard-FKJgBUDoVC0-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 90%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    height: 140vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 160%;
}

.box3 {
    width: 80%;
    margin-bottom: 20%;
}

.boxNumberTitle3 {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph3 {
    margin: auto;
    width: 45%;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
}

.imgsBox3 {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 2%;
}

.supermarket, .medicalAttention {
    width: 30%;
}

/* ========================================================================================
                                        CAJA 4
======================================================================================== */

.box4::before {
    content: '';
    background-image: linear-gradient(to bottom, #c46e1e6b, #7037022f), url('/img/cabin/vladimir-ya-g8AM1lF8PNA-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 75%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    height: 140vh;
    width: 100%;
    position: absolute;
    z-index: -3;
    top: 270%;
}

.box4 {
    width: 80%;
    margin-bottom: 15%;
}

.boxNumberTitle4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgBox4 {
 display: flex;
 justify-content: space-around;
 width: 60%;
 margin-bottom: 2%;
}

.person1, .person2, .person3 {
    width: 20%;
}

.person1, .person3 {
    opacity: 0.8;
}

.nameSocialMedia {
    text-align: center;
}

.personName {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
}

.socialMedia {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.fa-github-square, .fa-instagram, .fa-twitter-square {
    color: #efb810;
    font-size: 2rem;
    margin: 0 20px;
}

.fa-github-square:hover, 
.fa-instagram:hover, 
.fa-twitter-square:hover {
    color: #fff;
    cursor: pointer;
}

/* ========================================================================================
                                        CAJA 5
======================================================================================== */

.box5::before {
    content: '';
    background-image: linear-gradient(to bottom, #70370257, #7037022f), url('/img/cabin/kenny-timmer-vSO5TlG0sWc-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    height: 170vh;
    width: 100%;
    position: absolute;
    z-index: -4;
    top: 360%;
}

.box5 {
    width: 80%;
    margin-bottom: 20%;
}

.boxNumberTitle5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
}

.leftVideo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rightVideo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.video1 {
    width: 60%;
    height: 200px;
}

.video2 {
    width: 60%;
    height: 200px;
}

.refImages1 {
    padding: 2px;
    width: 40.85%;
}

.refImages2 {
    padding: 2px;
    width: 40.85%;
    display: flex;
    justify-content: end;
}

.refVideo {
    padding: 2px;
    width: 40%;
}

.explore {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
}

/* ========================================================================================
                                        CAJA 6
======================================================================================== */

.box6::before {
    content: '';
    background-image: linear-gradient(to bottom, #46700257, #7037022f), url('/img/cabin/max-ostwalt-MxLgn27xPbo-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    height: 120vh;
    width: 100%;
    position: absolute;
    z-index: -5;
    top: 478%;
}

.box6 {
    width: 80%;
}

.whatWant {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 8%;
    font-weight: 300;
}

.selection {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.shareCreate {
    font-size: 2.5rem;
    color: #b35600;
    text-decoration: none;
    padding: 20px;
    border: 2px solid #b35600;
    border-radius: 20px;
    font-weight: 300;
}

.shareCreate:hover {
    background-color: #fff;
}

.or {
    font-size: 4.5rem;
    color: #fff;
    font-weight: 500;
}


/* ========================================================================================
                                        MEDIAQUERIES
======================================================================================== */

@media (max-width: 1440px) {

    .box3 .paragraphBox3 .paragraph3 {
        width: 50%;
    }

    .box3 {
        margin-bottom: 20%;
    }

    .box4 {
        margin-bottom: 18%;
    }
    
    .box5 {
        margin-bottom: 25%;
    }
    
    .box6 .selection .shareCreate:hover {
        background-color: #fff;
    }

    .box6::before {
        height: 140vh;
    }

}

@media (max-width: 1280px) {

    .box2 {
        margin-bottom: 9%;
    }

    .box3 .paragraphBox3 .paragraph3 {
        width: 50%;
    }

    .box3 {
        margin-bottom: 17%;
    }

     .box4 {
        margin-bottom: 26%;
    }

    .box5 {
        margin-bottom: 26%;
    }

    .box6 .selection .shareCreate:hover {
        background-color: #fff;
    }

    .shareCreate {
        font-size: 2rem;
    }

}


@media (max-width: 800px) {

    header {
        height: 7vh;
        justify-content: space-evenly;
    }

    header .logoLink {
        width: 10%;
    }

    header .menu {
        width: 25%;
    }

    header .menu .itemMenu {
        font-size: 0.8rem;

    }

    main {
        height: 61vh;
    }

    .boxBackground1 {
        background-position-x: center;
        background-position-y: -260px
    }

    .boxTitle1 {
        margin-bottom: 15%;
    }

    .box2 {
        margin-bottom: 10%;
    }

    .box2::before {
        height: 130vh;
        top: 40%;
        background-position-x: center;
        background-position-Y: 18px;
    }

    .box3 .paragraphBox3 .paragraph3 {
        width: 80%;
        line-height: 40px;
        font-size: 1.5rem;
    }

    .imgsBox3 {
        display: none;
    }

    .box3::before {
        height: 125vh;
        top: 118%;
        background-position-x: center;
        background-position-Y: 20px;
    }

    .box4::before {
        top: 217%;
        height: 100vh;
        background-position-x: center;
        background-position-Y: 0px;
    }

    .box5::before {
        top: 245%;
        height: 195vh;
        background-position-x: center;
        background-position-Y: -40px;
    }

    .box5 {
        margin-bottom: 60%;
    }

    .box6::before {
        top: 315%;
        height: 200vh;
        background-position-x: center;
        background-position-Y: 0px;
    }

    .box6 .selection .shareCreate {
        font-size: 1.2rem;
    }
    
    .box6 .selection .shareCreate:hover {
        background-color: #fff;
    }

    .box6 .selection .or {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {

    .boxBackground1 {
        background-position-y: -265px;
    }

    .fa-chevron-circle-down {
        margin: 2% 0 5% 0;
    }

    .box2::before {
        height: 117vh;
    }

    .box2 {
        margin-bottom: 25%;
    }

    .paragraphBox2 {
        width: 100%;
    }

    .boxNumberTitle3 {
        margin-top: 0;
    }

    .box3 {
        margin-bottom: 30%;
    }

    .box3 .paragraphBox3 .paragraph3 {
        width: 70%;
    }

    .box3::before {
        background-position-Y: 0px;
    }

    .box4::before {
        height: 100vh;
        background-position-Y: -150px;
    }

    .box4 {
    }

    .box5::before {
        height: 150vh;
        background-position-Y: 0px;
        top:280%
    }

    .box5 {
        margin-bottom: 49%;
    }

    .box6::before {
        top: 370%;
        height: 140vh;
        background-position-Y: 0;
    }

    .selection {
        flex-direction: column;
    }

}


@media (max-width:375px) {

    header {
        display: none;
    }

    .line {
        display: none;
    }

    .title1 {
        font-size: 2.5rem;
    }

    .boxBackground1 {
        background-position-y: -198px;
        height: 70vh;
    }

    .boxTitle1 {
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .box2::before {
        height: 105vh;
        background-position-Y: 15px;
    }

    .box2 {
        margin-bottom: 60%;
        margin-top: 10%;
    }

    .sub {
        font-size: 1.5rem;
    }

    .fa-chevron-circle-down {
        display: none;
    }

    .paragraphBox2 {
        flex-direction: column;
        align-items: center;
        margin-top: 8%;
    }

    .paragraph2 {
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .box3::before {
        height: 90vh;
    }

    .box3 {
        margin-bottom: 60%;
    }

    .box3 .paragraphBox3 .paragraph3 {
        font-size: 1rem;
        text-align: center;
        line-height: 1.5rem;
        width: 100%;
    }

    .box4::before {
        height: 147vh;
        background-position-y: 0;
        top: 148%;
    }

    .box4 {
        margin-bottom: 80%;
    }

    .imgBox4 {
        display: flex;
        width: 120%;
        margin-top: 20%;
    }

    .box5::before {
        height: 165vh;
        background-position-Y: -42%;
        top: 200%;
    }

    .box5 {
        width: 50%;
        margin-bottom: 67%;
    }

    .refImages1, .refImages2 {
        display: none;
    }

    .videos {
        overflow: hidden;
        width: 100%;
        margin: 0;
        width: auto;
        margin-bottom: 10%;
    }

    .video1, .video2 {
        width: 200%;
        height: 120px;
        margin: 4% 0;
    }

    .ytp-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) {
        right: 25%
    }

    .ytp-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) {
        left: 75%
    }

    .explore {
        text-align: center;
        font-size: 1.5rem;
    }

    .box6::before {
        height: 120vh;
        top: 310%;
        background-position-Y: 0;
    }

    .box6 {
        text-align: center;

    }

    .box6 .selection {
        display: flex;
        flex-direction: column;
    }

    .box6 .selection .shareCreate {
        font-size: 1.5rem;
        padding: 5px;
        border-radius: 10px;
    }

    .box6 .selection .or {
        font-size: 1.5rem;
    }

}

@media (max-width:360px) {

    .paragraphBox2 {
        margin-top: 5%;
        flex-direction: column;
        align-items: center;
    }

    .paragraph2 {
        line-height: 20px;
        text-align: center;
        font-size: 1rem;
    }

    .box2 {
        margin-bottom: 50%;
    }

    .box3 {
        margin-bottom: 50%;
    }

    .box3 .paragraphBox3 .paragraph3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .imgsBox3 {
        display: none;
    }

    .box4 {
        margin-bottom: 75%;
    }

    .box5 {
        margin-bottom: 120%;
    }

    .box3::before {
        background-position-y: 0;
    }

    .box4::before {
        background-position-y: 0;
    }

    .box5::before {
        height: 173vh;
    }

    .box6::before {
        height: 140vh;
        background-position-y: 0;
    }

    .whatWant {
        font-size: 2rem;
    }

}